<div class="page-header">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "About", "/about" %></li>
  </ul>

<h2>Work In Analytics</h2>

</div>

<div class="row">
    <div class="center">
        <h1>Find a Great Job in the Web Analytics Industry</h1>
          <h3>Don't search an endless list of websites with only a few
          job postings. Our staff is dedicated to finding every open analytics job on the web</h3>
          <br/>
           <%= link_to "Post a job Today", new_listing_path , class: "btn btn-danger btn-lg", data: { no_turbolink: true } %>
    </div>
</div>
<br>
<hr>

<div class="row">
        <div class="col-md-6 col-md-offset-2">
  <table>
    <% @listings.each do |listing| %>
      <tr>
        <td><h3><%= listing.company_name %></h3></td>
        <td><h3><%= link_to listing.job, listing %></h3></td>
        <td><h3><%= listing.created_at.strftime("%B %-d, %Y") %></h3></td>
   
       
        <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>





