<div class="row">
    <div class="center">
        <h1>Find a Great Job in the Web Analytics Industry</h1>
          <h2>We only show open analytics jobs to make your search easy</h2>
          <h3>Follow us on Twitter <b>@WorkinAnalytics</b></h3>
           <%= link_to "Post a job Today: $169 for 45 days", new_listing_path , class: "btn btn-danger btn-lg", data: { no_turbolink: true } %>
    </div>
</div>
<br>
<hr>


<table class="table table-striped table-hover ">
   <% @listings.each do |listing| %>
    <tr class="active">
      <p><th class="center"><%= listing.company_name %></th></p>
      <p><th class="center"><%= link_to listing.job, listing %></th></p>
      <p><th class="center"><%= listing.created_at.strftime("%B %-d, %Y") %></th></p>
      <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></td>
      <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
    </tr>
    <% end %>
</table>







