<%= image_tag @listing.image.url(:thumb) %>

<p>
  <strong>Job:</strong>
  <%= @listing.job %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @listing.company_name %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @listing.company_url %>
</p>

<p>
  <strong>String:</strong>
  <%= @listing.string %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @listing.company_email %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
