
<div class="blog-header">
    <h1 class="blog-title"><%= @listing.job %></h1>
        <p class="lead blog-description"><%= @listing.created_at.strftime("%B %-d, %Y") %>.</p>
</div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= @listing.company_name %></h2>
              <p class="blog-post-meta"><a href="#"><%= @listing.company_url %></a></p>
              <p><%= @listing.location %></p>
              <p><%= @listing.description %></p>
              <hr>
              <p><code>How To Apply</code></p>

              <p>Please send your C.V to <%= @listing.company_email %></p>
              <p><%= link_to 'Back to Jobs', listings_path, class: "btn btn-link" %></li></p>
            </div><!-- /.blog-post -->

          

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <p><%= image_tag @listing.image.url(:thumb) %></p>
            <h4>About</h4>
            <p><%= @listing.about %></p>
          </div>
          <div class="sidebar-module">
            <ol class="list-unstyled">
              <li><a href="#">Email a Friend</a></li>
              <li><a href="#">Tweet this job</a></li>
            </ol>
          </div>
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->